{% extends "admin/game/game_template.html" %}
{% set user_action = "edit" %}

{% block game_header %}
    <h4>Game {{ game.ordinal }}: {% for player in game.match.get_home_players() %}
            {{ player.first_name }} {{ player.last_name }}
        {% endfor %}
         vs.
        {% for player in game.match.get_away_players() %}
            {{ player.first_name }} {{ player.last_name }}
        {% endfor %}</h4>
{% endblock %}

{% block game_footer %}
        <a href="{{ url_for('.game_delete', game_id = game.id) }}" class="btn btn-danger">Delete Game</a>

{% endblock %}
