{% extends "master.html" %}
{% set body_class = "root-context" %}
{% block body %}

    <h1 class="text-center">Mark it Eight, Dude</h1>  
    <p class="text-center" style="margin-bottom:40px;">Welcome to <em>PoolScore:</em><br> A place to save your stats because the league won't do it for you.<p>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 ">
            <p class="text-center">
                <a href="/play/new/" class="btn btn-primary btn-block btn-lg">Start New Tournament</a>
            </p>
            <p class="text-center">
                <a href="/team" class="btn btn-primary btn-block btn-lg">Manage Your Teams</a>
            </p>
            {% if tourneys %}
            <h3>Tourneys in Progress</h3>
            <div class="list-group">
            {% for tourney in tourneys %}
                <a class="list-group-item" href="{{ url_for('play.play', tourney_id = tourney.id) }}">{{ tourney.date|datetime }} {{ tourney.home_team.name }} vs. {{ tourney.away_team.name }}</a>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
