/* play.css */
@grid-columns:          10;
@grid-gutter-width:     20px;
@headings-font-family: "Helvetica Neue Condensed Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

@match-height: 80px;
@yellow-highlight: #fdffb7;
@green-hightlight: #2fe038;

@font-size-xsmall:         ceil((@font-size-base * 0.714)); // ~10px

.hr-sm {
    margin-top:0px;
    margin-bottom:0px;
}

.title-sm {
    .h6;
    margin:0 0;
    color: @brand-primary;
}

.no-wrap-truncate {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.winner-icon {
    .glyphicon;
    .glyphicon-ok-sign;
    color: @green-hightlight;
    font-size: @font-size-large;
}

.btn-delete {
    margin-top:5em;
}

/* tourney */
.scoreboard {
    font-family: @headings-font-family;
    color: @brand-primary;
    line-height: 0.85;
    .container;

    .row {
        margin-bottom:10px;
    }
    .team-name {
        .make-xs-column(8);
        font-size: @font-size-large;

        div {
            font-variant: small-caps;
            font-weight: bold;
        }

        small {
            font-size: @font-size-small;
        }

    }
    .team-score {
        .make-xs-column(2);
        .text-center;
        font-size: @font-size-h2;
    }
}

.roster {
    .container;
    margin-top: 10px;
    overflow:hidden;

    table {
        .table;
        .table-condensed;

        font-size: @font-size-small;

        td {
            overflow: hidden;
        }
    }

    .team {
        .make-xs-column(5);
        overflow:hidden;

        .team-title {
            .title-sm;
        }

        .team-name {
            .no-wrap-truncate;
        }
    }
}

.matches {
    .container;
    margin-top: 10px;
    margin-bottom:30px;
    overflow:hidden;

    .matches-title {
        .title-sm;
        .text-center;        
    }

    .match {
        .make-row();
        padding:10px 0;
        border-bottom: 1px solid #eee;

        .match-num {
            .make-xs-column(1);
            line-height: @match-height - 10;
        }

        .match-players {
            .make-xs-column(8);

            .match-player {
                .make-row();
                padding:5px 0;
                background-color: @yellow-highlight;
            }

            .match-team, .match-games-needed, .match-games-won, .match-points-won {
               .make-xs-column(1);
            }

            .match-player-name {
                .make-xs-column(6);
            }
        }

        .match-select-players {
            .make-xs-column(6);
        }

        .match-start {
            padding-top: (@match-height - 30) /2
        }

        .lagger {
            margin-bottom:10px;
        }
    }
}


.end-modal, .delete-modal {

    .modal-title, .score {
        color: @brand-primary;
    }

    .modal-body {

        .match-complete {
            .make-xs-column(2);
            .text-center;
            &.winner {
                .winner-icon;
                font-size: @font-size-large * 2;
            }
        }

        .match-player {
            .make-xs-column(7);
            .h4;
            .no-wrap-truncate;
        }

        .match-score {
            .make-xs-column(1);
            .h4;
            .text-center;
        }

    }

}

/* match */
.games {
    .container;
    overflow:hidden;
    margin-bottom:30px;

    .games-header {
        .make-xs-column(3);
        .make-xs-column-offset(1);
        .h6;
        margin-top:0;
        margin-bottom:0;
        color: black;
    }

    .game {
        .container;
        border-bottom: 1px solid #eee;
        padding:10px 0;

        &.first {
            .game-title {
                /* the first game title has to share its row with "HOME" & "AWAY" headers */
                .make-xs-column(2);
            }
        }

        &.inprogress {
            background-color: @yellow-highlight;
        }

        .game-header-row {
            .make-row();
            margin-bottom: 10px;
        }

        .game-title {
            .title-sm;
            .text-center;
        }

        .game-data {
            .make-xs-column(1);
            .text-center;
            font-size: @font-size-small;

        }

        .game-data-labels {
            .make-xs-column(2);
            font-size: @font-size-small;
            white-space:nowrap;
            padding-left:0;
        }

        .game-complete {
            .make-xs-column(1);
            .text-center;
            &.winner {
                .winner-icon;
            }
        }

        .game-innings {
            .make-xs-column(2);
            .text-center;
            font-size: @font-size-large;
            color: @brand-primary;
            line-height: .6em;
            padding-top:10px;

            small {
                font-size: @font-size-xsmall;
                color:@text-color;
                line-height: 10px;
            }
        }

    }

}

/* game */
.game {
    .container;
    margin-bottom:30px;
    overflow:hidden;

    h1 {
        font-family: @headings-font-family;
        color: @brand-primary;
        font-size: @font-size-large * 1.5;
        .text-center;
    }

    .game-button {
        .text-center;
        button {
            .btn;
            .btn-default;
            margin:0;
            font-family: monospace;
        }
    }

    .innings-row {
        .make-row();
        .text-center;
        margin:20 0;

        .innings {
            .make-xs-column(2);
            font-size: @font-size-h2;
            line-height: 1em;
            h6 {
                margin-top: 0;
                color: @brand-primary;
            }
        }

        .plus, .minus {
            .game-button;
            .make-xs-column(2);
        }

        .minus {
            .make-xs-column-offset(2);
        }

    }

    .stat-header-row {
        .make-row();
        margin:20px 0;
        h6 {
            .make-xs-column(5);
            .text-center;
            margin-top:0;
            margin-bottom:0;
            color: black;
        }
    }

    .stat-row {
        .make-row();
        .text-center;
        margin:20px 0;

        .stat-title {
            .make-xs-column(2);
            padding-top:6px;
            font-variant: small-caps;
            font-weight: bold;
            color: @brand-primary;
        }

        .stat {
            .make-xs-column(1);
            font-size: @font-size-h3;
            color: black;
            .text-center;
        }

        .game-button {
            .make-xs-column(1);
            padding-top:6px;
            button {
                padding: 4px 8px;
                margin-left:-5px;
                font-size: @font-size-xsmall;
            }
        }

    }

}