{% extends "admin/match/match_template.html" %}
{% set user_action = "edit" %}

{% block match_header %}
    <h4>Match {{ match.ordinal }}: {% for player in match.get_home_players() %}
            {{ player.first_name }} {{ player.last_name }}
        {% endfor %}
         vs.
        {% for player in match.get_away_players() %}
            {{ player.first_name }} {{ player.last_name }}
        {% endfor %}</h4>

    <h5>Games</h5>

    <p>
        <a href="{{ url_for('.game_add', match_id = match.id) }}" class="btn btn-default">Add Game</a>
    </p>

    {% if match.games %}
    <p>
        <div class="list-group">
        {% for game in match.games %}
            <a class="list-group-item{% if game.active == 1 %} active{% endif %}" href="{{ url_for('admin.game', game_id = game.id) }}">Game {{ game.ordinal }} {% if game.winner != None %}(Winner: {{ game.winner.first_name }} {{ game.winner.last_name }}){% endif %}</a>
        {% endfor %}
        </div>
    </p>
    {% endif %}

    <h4>Edit Match {{ match.ordinal }}</h4>

{% endblock %}
