{% extends "master.html" %}
{% set body_class = "root-context" %}
{% block body %}

    {% include "admin/header.html" %}

    {% block match_header %}{% endblock %}


    {% if form.errors %}
    <p>
        <div class="alert alert-warning" role="alert">
            <h5>Please fix the following errors and re-submit:</h5>
            <ul>
                {% for field, error in form.errors.items() %}
                    {% for e in error %}
                        <li>{{ e }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </p>
    {% endif %}

    <p>
        <form method="POST" action="{% if user_action == 'edit' %}{{ url_for('.match', match_id = match.id) }}{% else %}.{% endif %}" class="">
            {{ form.csrf_token }}
            {% if user_action == 'add' %}
            <div class="form-group">
                <label for="name">Home Player(s):</label>
                {{ form.home_players(class = 'form-control', placeholder = 'Home Player(s)') }}
            </div>
            <div class="form-group">
                <label for="name">Away Player(s):</label>
                {{ form.away_players(class = 'form-control', placeholder = 'Away Player(s)') }}
            </div>
            {% endif %}
            {% if user_action == 'edit' %}
            <div class="form-group">
                <div class="checkbox">
                    <label>{{ form.active() }} Active</label>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Home Score:</label>
                {{ form.home_score(class = 'form-control', placeholder = 'Home Score') }}
            </div>
            <div class="form-group">
                <label for="name">Away Score:</label>
                {{ form.away_score(class = 'form-control', placeholder = 'Away Score') }}
            </div>
            <div class="form-group">
                <label for="name">Winner:</label>
                {{ form.winner_id(class = 'form-control', placeholder = 'Winner') }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="name">Owner:</label>
                {{ form.owner_id(class = 'form-control', placeholder = 'Owner') }}
            </div>
            <div class="form-group">
                <label for="name">Data:</label>
                {{ form.data(class = 'form-control', placeholder = 'Data') }}
            </div>
            <button type="submit" name="submit" class="btn btn-primary">{% if user_action == 'edit' %}Edit{% else %}Add{% endif %}</button>
        </form>
    </p>
    {% block match_footer %}{% endblock %}
{% endblock %}