{% extends "master.html" %}
{% set body_class = "root-context" %}
{% block body %}

    <h1 class="text-center">Teams & Players</h1>
    <p>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{{ url_for('team.index') }}">All Teams</a></li>
            <li role="presentation"><a href="{{ url_for('team.add') }}">Add Team</a></li>
            <li role="presentation"><a href="{{ url_for('team.players') }}">All Players</a></li>
            <li role="presentation"><a href="{{ url_for('team.add_player') }}">Add Player</a></li>
        </ul>
    </p>
    {% if teams %}
    <p>
        <div class="list-group">
        {% for team in teams %}
            <a class="list-group-item" href="/team/{{ team.id }}">{{ team.name }}</a>
        {% endfor %}
        </div>
    </p>
    {% else %}
    <p class="text-center">
        No Teams Found
    </p>
    {% endif %}

{% endblock %}
