{% extends "master.html" %}
{% set body_class = "root-context" %}
{% block body %}

    <h1 class="text-center">Your Teams</h1>  

        <h2>{% if user_action == 'edit' %}Edit Team {{team.name }}{% else %}Add New Team{% endif %}</h2>
        {% if form.errors %}
        <div class="alert alert-warning" role="alert">
            <h5>Please fix the following errors and re-submit:</h5>
            <ul>
                {% for field, error in form.errors.items() %}
                    {% for e in error %}
                        <li>{{ e }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="POST" action="{% if user_action == 'edit' %}{{ url_for('team.edit', id = team.id) }}{% else %}.{% endif %}" class="">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="name">Team Name:</label>
                {{ form.name(class = 'form-control', placeholder = 'Team Name') }}
            </div>
            <div class="form-group">
                <label for="name">Team ID:</label>
                {{ form.team_id(class = 'form-control', placeholder = 'Team ID') }}
            </div>
            <div class="form-group">
                <label for="name">Location:</label>
                {{ form.location(class = 'form-control', placeholder = 'Location') }}
            </div>
            <button type="submit" name="submit" class="btn btn-primary">{% if user_action == 'edit' %}Edit{% else %}Add{% endif %}</button>
        </form>
{% endblock %}