
@login-top-offset:          -250px;

html {
    height: 100%;
}

body {
    display:block;
    height:100%;
    padding-top:50px;
    padding-bottom:50px;
}

.container {
    position: relative;
    z-index:1;

    @media (min-width: @screen-sm-min) {
      top:25px;
    }
}

//Login
.login-context .container {
    max-width:390px;

    @media (min-width: @screen-sm-min) {
        top:50%;
        width: 390px;
        margin-top: @login-top-offset;
    }
}

.login-context .form-horizontal {
  display:block;
  padding: @grid-gutter-width @grid-gutter-width+15;
}

//tourney
.tourney-context form {
  margin-top:40px;
}

header {
  position:fixed;
  top:0;
  left:0;
  background-color: #ddd;
  height:50px;
  width:100%;
  padding:0 20px;
  z-index:1000;
}
header nav {
  position:absolute;
  right:10px;
  top:6px;
  font-size: 175%;
}
header nav a {
  display:inline-block;
  line-height: 44px;
  padding:0 5px;
  margin-left:5px;
}
header .logo {
  display:block;
  background-image: url(/static/images/logo_sm.png);
  background-repeat: no-repeat;
  background-position:  0 0;
  width:50px;
  height:50px;
  .text-hide;

  @media (min-width: @container-sm) {
    background-image: url(/static/images/logo.png);
    width:175px;
  }
}

footer {
  width:100%;
  padding:12px;
  margin-top: 50px !important;
  margin-bottom:0 !important;
  .h5;

  @media (min-width: @screen-sm-min) {
    position:fixed;
    bottom:0;
    left:0;
    z-index:1000;
  }
}
