
@login-top-offset:          -250px;

html {
    height: 100%;
}

body {
    display:block;
    height:100%;
    padding-top:70px;
    padding-bottom:50px;
}

.container {
    position: relative;
    max-width:390px;
    z-index:1;

    @media (min-width: @screen-sm-min) {
      top:25px;
        width: 390px;
    }
}

//Login
@media (min-width: @screen-sm-min) {
  .login-context .container {
        top:50%;
        margin-top: @login-top-offset;
    }
}

.login-context .form-horizontal {
  display:block;
  padding: @grid-gutter-width @grid-gutter-width+15;
}

.login-context .submit-button {
  width: 100%;
}

header {
  position:fixed;
  top:0;
  left:0;
  background-color: #ddd;
  height:50px;
  width:100%;
  padding:0 20px;
  z-index:1000;
}
header nav {
  position:absolute;
  right:10px;
  top:6px;
  font-size: 175%;
}
header nav a {
  display:inline-block;
  line-height: 44px;
  padding:0 5px;
  margin-left:5px;
}

footer {
  width:100%;
  height:40px;
  padding-top:12px;
  margin-top: 50px !important;
  margin-bottom:0 !important;
  .text-center;
  .h5;

  @media (min-width: @screen-sm-min) {
    position:fixed;
    bottom:0;
    left:0;
    z-index:1000;
  }
}

.btn-pair {
  width:25%;
}
