{% extends "master.html" %}
{% set body_class = "login-context" %}
{% block body %}
  <form method="POST" action="." accept-charset="UTF-8" role="form" class="form-horizontal">
    <span class="hidden">{{ form.csrf_token }}</span>
    <h2>Login</h2>
    {% if error %}<div class="form-group alert alert-danger text-center">{{ error }}</div>{% endif %}

    <div class="form-group form-group-lg {%- if form.username.errors or form.username.flags.error %} has-error{% endif %}">
      <label for="username" class="control-label sr-only">Username</label>
      <input type="text"
        class="form-control input-lg"
        id="username"
        name="username" 
        placeholder="Username"
        required/>
    </div>
    <div class="form-group form-group- {%- if form.password.errors or form.password.flags.error %} has-error{% endif %}">
      <label for="password" class="control-label sr-only">Password</label>
      <input type="password"
      class="form-control input-lg"
      id="password"
      name="password"
      placeholder="Password"
      required/>
    </div>
    <div class="form-group form-group-lg">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </div>


  </form>
{% endblock %}
