{% extends "master.html" %}
{% set body_class = "tourney-context" %}
{% block body %}

    <h1 class="text-center">Start Tournament</h1>

    {% if teams %}
    <form action="{{ url_for('tournament') }}" method=post role="form">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

                {% if error %}<div class="form-group alert alert-danger text-center">{{ error }}</div>{% endif %}

                <div class="form-group form-group-lg">
                    <label for="home_team" class="control-label">Home Team</label>
                    <select class="form-control input-lg"
                        id="home_team"
                        name="home_team" 
                        required>
                        <option value="">Select Home Team</option>
                        {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block clearfix"><a href="#" class="pull-right">add team</a></span>
                </div>
                <div class="form-group form-group-lg">
                    <label for="away_team" class="control-label">Away Team</label>
                    <select class="form-control input-lg"
                        id="away_team"
                        name="away_team" 
                        required>
                        <option value="">Select Away Team</option>
                        {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block clearfix"><a href="#" class="pull-right">add team</a></span>
                </div>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="away_team" class="control-label"> </label>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-lg-3 col-lg-offset-3">
                    <a href="/" class="btn btn-default btn-lg btn-block">Cancel</a>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Start</button>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <h1>No Teams!</h1>
    <a href="#">add team</a>
    {% endif %}

{% endblock %}

