{% extends "master.html" %}
{% set body_class = "tourney-context" %}
{% block body %}

    <p>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.index') }}" class="active">Admin</a></li>
            <li><a href="{{ url_for('admin.tourneys') }}" class="active">Tourneys</a></li>
        </ol>

    </p>
    <h1 class="text-center">Tourney/Match/Game</h1>
    {% if tourneys %}
    <p>
        <div class="list-group">
        {% for tourney in tourneys %}
            <a class="list-group-item{% if tourney.in_progress == 1 %} active{% endif %}" href="{{ url_for('admin.tourney', id = tourney.id) }}">{{ tourney.date }}</a>
        {% endfor %}
        </div>
    </p>
    {% else %}
    <p class="text-center">
        No Tourneys Found
    </p>
    {% endif %}

{% endblock %}