<div class="scoreboard">
    <div class="row" data-bind="with: home_team">
        <div class="home team-name"><div data-bind="text: name"></div><small>Home Team</small></div>
        <div class="home team-score" data-bind="text: $parent.home_score">15</div>
    </div>
    <div class="row" data-bind="with: away_team">
        <div class="away team-name"><div data-bind="text: name"></div><small>Away Team</small></div>
        <div class="away team-score" data-bind="text: $parent.home_score">0</div>
    </div>
</div>
<hr class="hr-sm">
<div class="roster">
    <div class="row">
        <div class="team"
             data-bind="template: {
                        name: 'roster_template',
                        data: {
                            team: home_team(),
                            location: 'home'
                        },
                        if: home_team
                    }">
        </div>
        <div class="team"
             data-bind="template: {
                        name: 'roster_template',
                        data: {
                            team: away_team(),
                            location: 'away'
                        },
                        if: away_team
                    }">
        </div>
    </div>
</div>
<script type="text/html" id="roster_template">
    <h6 class="title-sm"><span data-bind="text: location + ' team'"></h6>
    <div class="team-name"><span data-bind="text: team.team_id"></span> &nbsp; <span data-bind="text: team.name"></span></div>
    <table>
        <thead>
            <tr>
                <th>SL</th>
                <th>Player#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: team.players">
            <tr>
                <td data-bind="text: handicap"></td>
                <td data-bind="text: player_id"></td>
                <td class="no-wrap-truncate"><span data-bind="text: last_name"></span>, <span data-bind="text: first_name"></span></td>
            </tr>
        </tbody>
    </table>
</script>
<hr class="hr-sm">
<div class="matches">
    <h6 class="matches-title">Matches</h6>
<!-- ko foreach: {data: matches, as: 'match'} -->
    <div data-bind="css: {'match':true, 'started':true, 'complete': winner_id!==null, 'first': ordinal===1}">
        <div class="match-num">#<span data-bind="text:match.ordinal"></span></div>
        <div class="match-players">
            <div class="match-player lagger"
                data-bind="template: {
                    name: 'match_player_template',
                    data: $parent.getMatchPlayerData(match.events.lag)
                }">
            </div>
            <div class="match-player"
                data-bind="template: {
                    name: 'match_player_template',
                    data: $parent.getMatchPlayerData(match.events.lag == 'home' ? 'away' : 'home')
                }">
            </div>
        </div>
    </div>
<!-- /ko -->

<script type="text/html" id="match_player_template">
    <div class="match-player">
        <div class="match-team" data-bind="text: team_id"></div>
        <div class="match-player-name"><span data-bind="text: match[team + '_players'][0].last_name"></span>, <span data-bind="text: match[team + '_players'][0].first_name"></span></div>
        <div class="match-games-needed" data-bind="text: match[team + '_games_needed']"></div>
        <div class="match-games-won" data-bind="text: match[team + '_games_won']"></div>
        <div class="match-points-won" data-bind="text: match[team + '_score']"></div>
    </div>
</script>

<!--
    <div class="match started complete first">
        <div class="match-num">#1</div>
        <div class="match-players">
            <div class="match-player lagger">
                <div class="match-team">05</div>
                <div class="match-player-name">Tramp, Lady &amp;</div>
                <div class="match-games-needed">3</div>
                <div class="match-games-won">3</div>
                <div class="match-points-won">2</div>
            </div>
            <div class="match-player">
                <div class="match-team">06</div>
                <div class="match-player-name">Sky, Blue</div>
                <div class="match-games-needed">3</div>
                <div class="match-games-won">2</div>
                <div class="match-points-won">1</div>
            </div>
        </div>
    </div>
    <div class="match started">
        <div class="match-num">#2</div>
        <div class="match-players">
            <div class="match-player lagger">
                <div class="match-team">05</div>
                <div class="match-player-name">Minion, Filet</div>
                <div class="match-games-needed">3</div>
                <div class="match-games-won">1</div>
                <div class="match-points-won">0</div>
            </div>
            <div class="match-player">
                <div class="match-team">06</div>
                <div class="match-player-name">Sky, Blue</div>
                <div class="match-games-needed">3</div>
                <div class="match-games-won">0</div>
                <div class="match-points-won">0</div>
            </div>
        </div>
    </div>
-->
    <div class="match new" data-bind="if:home_team && away_team">
        <div class="match-num">#<span data-bind="text:matches().length+1"></span></div>
        <form>
            <div class="match-select-players">
                <!-- ko template: {
                    name: 'select_player_template',
                    data: {
                        selectValue: lagger,
                        selectCaption: 'Select Lag Winner',
                        tourneyVM: $data
                    }
                } -->
                <!-- /ko -->
                <!-- ko template: {
                    name: 'select_player_template',
                    data: {
                        selectValue: nonLagger,
                        selectCaption: 'Select Lag Loser',
                        tourneyVM: $data
                    }
                } -->
                <!-- /ko -->
            </div>
            <div class="match-start">
                <button id="match-start" class="btn btn-sm btn-primary" data-bind="click:newMatch">Start Match #<span data-bind="text:matches().length+1"></span></button>
            </div>
        </form>
    </div>
</div>
<script type="text/html" id="select_player_template">
    <select data-bind="uniqueName:true, value:selectValue" class="form-control lagger">
        <option default selected="selected" value="-1" data-bind="text: selectCaption"></option>
        <optgroup label="Home Team" data-bind="foreach: tourneyVM.home_team().players">
            <option data-bind="value: 'home-'+id, text: last_name+', '+first_name"></option>
        </optgroup>
        <optgroup label="Away Team" data-bind="foreach: tourneyVM.away_team().players">
            <option data-bind="value: 'away-'+id, text: last_name+', '+first_name"></option>
        </optgroup>
    </select>
</script>

<button type="button" data-toggle="modal" data-target="#endTourney" id="tourney-end" class="btn btn-lg btn-primary center-block">End Tourney #<span data-bind="text:tourney_id"></span></button>

<button type="button" data-toggle="modal" data-target="#deleteTourney" id="tourney-delete" class="btn btn-lg btn-danger btn-delete center-block">Delete Tourney #<span data-bind="text:tourney_id"></span></button>


<div class="modal fade end-modal" tabindex="-1" role="dialog" id="endTourney">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">END TOURNEY?</h4>
            </div>
            <div class="modal-body text-center">
                <h5 class="title-sm">Winner:</h5>
                <h3>THE HEROS FROM PLANET ZERO</h3>
                <h2 class="score">11 &mdash; 3</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade delete-modal" tabindex="-1" role="dialog" id="deleteTourney">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">DELETE TOURNEY #1?</h4>
            </div>
            <div class="modal-body">
                <p>You will not be able to undo this action.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
