{% extends "master.html" %}
{% set body_class = "root-context" %}
{% block body %}

    <h1 class="text-center">Users</h1>
    <p>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{{ url_for('user.index') }}">All Users</a></li>
            <li role="presentation"><a href="{{ url_for('user.add') }}">Add User</a></li>
        </ul>
    </p>
    {% if users %}
    <p>
        <div class="list-group">
        {% for user in users %}
            <a class="list-group-item" href="/user/{{ user.id }}">{{ user.username }}  ({{ user.id }})<br/>{{ user.last_name }}</a>
        {% endfor %}
        </div>
    </p>
    {% else %}
    <p class="text-center">
        No Users Found
    </p>
    {% endif %}

{% endblock %}
