{% extends "master.html" %}
{% set body_class = "root-context" %}

<!--

 * Register components for tourney, match & game views
 * https://vimeo.com/97519516
 * routing?

-->


{% block require_main %}
require(['knockout',
         'pages/main',
         'domReady!'],
    function(ko, mainViewModel) {


        ko.applyBindings(
            new mainViewModel({
                tourney_id: "{{ tourney_id }}"
            }),
            document.getElementById('main')
        );

    }
);

{% endblock %}


{% block body %}

    <div data-bind="component: mainComponent">fucked</div>

{% endblock %}
