{% extends "master.html" %}
{% set header_content = "Tourney <span class='badge'>555</span> : Match <span class='badge'>5</span> : Game <span class='badge'>5</span>" %}

{% block body %}
<div class="scoreboard">
    <div class="row">
        <div class="home team-name"><div>sky, blue</div><small>Home Team (won lag)</small></div>
        <div class="home team-score">1</div>
    </div>
    <div class="row">
        <div class="away team-name"><div>herman, nicholas "studly"</div><small>Away Team</small></div>
        <div class="away team-score">1</div>
    </div>
</div>
<hr class="hr-sm">
<div class="games">

    <div class="game first">
        <div class="game-header-row">
            <div class="games-header">HOME</div>
            <h6 class="game-title">Game 1</h6>
            <div class="games-header">AWAY</div>
        </div>
        <div class="row">
            <div class="game-data home-col">2<br>18</div>
            <div class="game-data-labels">coaches<br>safes<br><em>break & run</em></div>
            <div class="game-complete winner"></div>
            <div class="game-innings"><div>88</div><small>Innings</small></div>
            <div class="game-complete loser"></div>
            <div class="game-data away-col">2<br>9</div>
            <div class="game-data-labels">coaches<br>safes<br></div>
        </div>
    </div>

   <div class="game">
        <div class="game-header-row">
            <h6 class="game-title">Game 2</h6>
        </div>
        <div class="row">
            <div class="game-data home-col">2<br>18</div>
            <div class="game-data-labels">coaches<br>safes<br></div>
            <div class="game-complete winner"></div>
            <div class="game-innings"><div>88</div><small>Innings</small></div>
            <div class="game-complete loser"></div>
            <div class="game-data away-col">2<br>9</div>
            <div class="game-data-labels">coaches<br>safes<br></div>
        </div>
    </div>

   <div class="game inprogress">
        <div class="game-header-row">
            <h6 class="game-title">Game 3</h6>
        </div>
        <div class="row">
            <div class="game-data home-col">0<br>0</div>
            <div class="game-data-labels">coaches<br>safes<br></div>
            <div class="game-complete"></div>
            <div class="game-innings"><div>0</div><small>Innings</small></div>
            <div class="game-complete loser"></div>
            <div class="game-data away-col">0<br>0</div>
            <div class="game-data-labels">coaches<br>safes<br></div>
        </div>
    </div>

   <div class="game new">
        <div class="game-header-row">
            <h6 class="game-title">Game 4</h6>
        </div>
        <div class="row text-center">
            <button type="button" data-toggle="modal" data-target="#newGame" id="match-1-newgame" class="btn btn-sm">Start Game 4</button>
        </div>
    </div>
</div>

<button type="button" data-toggle="modal" data-target="#endMatch" id="match-1-end" class="btn btn-lg btn-primary center-block">End Match #1</button>

<button type="button" data-toggle="modal" data-target="#deleteMatch" id="match-1-delete" class="btn btn-lg btn-danger btn-delete center-block">Delete Match #1</button>
{% endblock %}

{% block script %}

<div class="modal fade end-modal" tabindex="-1" role="dialog" id="endMatch">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">END MATCH?</h4>
            </div>
            <div class="modal-body">
                <div class="row lagger">
                    <div class="match-complete winner"></div>
                    <div class="match-player">Herman, Nicholas "Studly"</div>
                    <div class="match-score">2</div>
                </div>
                <div class="row">
                    <div class="match-complete"></div>
                    <div class="match-player">Sky, Blue</div>
                    <div class="match-score">1</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade delete-modal" tabindex="-1" role="dialog" id="deleteMatch">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">DELETE MATCH #1?</h4>
            </div>
            <div class="modal-body">
                <p>You will not be able to undo this action.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}
