{% extends "master.html" %}
{% set body_class = "root-context" %}

{% block script %}
<script type="text/javascript">
function NewTourneyModel() {
    var self = this,
    userId = "{{session.user_id}}",
    tourney_id = "{{ tourney_id }}",
    api = (function() {
        var ep, root = "/api/v1.0/";

        function _m(n,p) {
            return {"path":root + p,"node": n};
        }

        ep = {
            "tourneys": _m("tourneys","tourney/tourneys.json"),
            "tourneyCount": _m("count","tourney/count.json"),
            "tourney": _m("tourney", "tourneys/%s.json"),
            "user": _m("user", "users/%s.json")
        };

        return {
            "node": function(endpoint) {
                if (ep[endpoint] !== undefined) {
                    return ep[endpoint].node;
                }
                return "";
            },
            "path": function(endpoint) {
                var i=1, p;
                if (ep[endpoint] === undefined) return "";
                p = ep[endpoint].path;

                while(i < arguments.length) {
                    p = p.replace(/%s/,arguments[i++]);
                }

                return p;
            }
        };
    })(),

    mainBlockTemplateDefault = {
        "name": "main_template",
        "data": self
    };


    function _getEntity(entity, id, callback) {
        if (typeof callback !== "function") return;

        url = api.path(entity, id);
        node = api.node(entity);

        $.getJSON( url, function( json ) {
            if (json[node] !== undefined) {
                callback(json[node]);
            }
        });
    }

    function _processTourney() {
        var date, time, t;
        if (self.tourney() === undefined) return;

        date = new Date(self.tourney().date);
        self.tourneyDate(date.toDateString());

        if (self.tourney().events != null) {
            events = ko.utils.parseJson(self.tourney().events);
            if (events.start_time != null) {                
                self.tourneyStartTime(events.start_time);
            }
        }
    }



    self.mainBlockTemplateOptions = ko.observable({ "name": "" });
    self.tourney = ko.observable();
    self.tourneyDate = ko.observable();
    self.tourneyStartTime = ko.observable();



    _getEntity("tourney", tourney_id, function(r) {
        self.tourney(r);
        _processTourney();
        self.mainBlockTemplateOptions(mainBlockTemplateDefault)

        console.log(self.tourney());
    })


}

ko.applyBindings(new NewTourneyModel(), document.getElementById('main'));

</script>

{% endblock %}

{% block body %}

    <h1 class="text-center">Play</h1>  

    <!-- ko template: mainBlockTemplateOptions --><!-- /ko -->

<script type="text/html" id="main_template">
    <h3 class="text-center"><span data-bind="text: tourney().home_team.name"></span> <small>vs.</small> <span data-bind="text: tourney().away_team.name"></span></h3>
    <h6 class="text-center"><span data-bind="text: tourneyDate"></span> <span data-bind="text: tourneyStartTime"></span></h6>
</script>


{% endblock %}
