{% extends "master.html" %}
{% set body_class = "root-context" %}

{% block script %}
<script type="text/javascript">
function NewTourneyModel() {
    var self = this,
    userId = "{{session.user_id}}",
    tourney_id = "{{ tourney_id }}",
    initTemplateOptions = {
        "name": ""
    },
    mainBlockTemplateOptions = {
        "name": "match_list_template",
        "data": self
    },
    api = (function() {
        var ep, root = "/api/v1.0/";

        function _m(n,p) {
            return {"path":root + p,"node": n};
        }

        function _p(endpoint) {
            var i=1, p;
            if (ep[endpoint] === undefined) return "";
            p = ep[endpoint].path;

            while(i < arguments.length) {
                p = p.replace(/%s/,arguments[i++]);
            }

            return p;
        }

        function _n(endpoint) {
            if (ep[endpoint] !== undefined) {
                return ep[endpoint].node;
            }
            return "";
        }

        ep = {
            "tourney": _m("tourney", "tourneys/%s.json"),
            "matches": _m("matches", "tourneys/%s/matches.json")
        };

        return {
            "node": _n,
            "path": _p,
            "get": function(endpoint, args, callback) {
                var url, node;
                if (typeof callback !== "function" || !Array.isArray(args)) return;

                args.unshift(endpoint);

                url = _p.apply(this, args);
                node = _n(endpoint);

                $.getJSON( url, function( json ) {
                    if (json[node] !== undefined) {
                        callback(json[node]);
                    }
                });
            }
        };
    })();

    function _isEmpty(v) { return (v == undefined || v == null || v == "");}

    function _getEntity(endpoint, args, callback) {
        var url, node;
        if (typeof callback !== "function" || !Array.isArray(args)) return;

        args.unshift(endpoint);

        url = api.path.apply(this, args);
        node = api.node(endpoint);

        $.getJSON( url, function( json ) {
            if (json[node] !== undefined) {
                callback(json[node]);
            }
        });
    }

    function _getEntities(endpoint, args, callback) {
        if (typeof callback !== "function" || !Array.isArray(args)) return;

        args.unshift(endpoint);

        url = api.path.apply(this, args);
        node = api.node(endpoint);

    }

    function _processTourney() {
        var date, time, t;
        if (self.tourney() === undefined) return;

        //date
        date = new Date(self.tourney().date);
        self.tourneyDate(date.toDateString());

        //start time
        if (self.tourney().events != null) {
            events = ko.utils.parseJson(self.tourney().events);
            if (events.start_time != null) {                
                self.tourneyStartTime(events.start_time);
            }
        }
    }

    function _init() {

        _processTourney();

        //init player options
        self.addMatch.populate();
    }


    self.mainBlockTemplateOptions = ko.observable(initTemplateOptions);
    self.tourney = ko.observable();
    self.tourneyDate = ko.observable();
    self.tourneyStartTime = ko.observable();
    self.matches = ko.observableArray();
    self.addMatch = (function() {
        var options = {};

        function _getPlayerId(o) {
            a = o.split('_');
            return {
                "team": a[0],
                "id": a[1]
            }
        }

        function _getPlayerSelectItem(p, team) {
            return {
                "value":team + "_" + p.id,
                "label":p.last_name + ", " + p.first_name + " (" + p.handicap + ")",
                "team": team
            };
        }

        options.home = [];
        options.away = [];

        return {
            getplayer: _getPlayerId,
            lag_winner: ko.observable(),
            lag_loser: ko.observable(),
            options: options,
            canAdd: function() { return false; },
            populate: function() {
                if (self.tourney() != undefined) {
                    self.tourney().home_team.players.forEach(function(p) {
                        self.addMatch.options.home.push(_getPlayerSelectItem(p));
                    });
                    self.tourney().away_team.players.forEach(function(p) {
                        self.addMatch.options.away.push(_getPlayerSelectItem(p));
                    });
                }
            },
            add: function() {
                var url, data;
                console.log(this);
                if (!canAdd()) return;

                url = api.path(newMatch);
                data = {
                    "tourney_id": self.tourney().id,
                    "home_player_id": null,
                    "away_player_id": null,
                    "lag_winner_id": null
                };

                $.ajax(url, {
                    data: ko.toJSON({"match": data}),
                    type: options.saveMethod,
                    contentType: "application/json",
                    error: function(jqXHR, textStatus, errorThrown) {
                        formVM.btnText(options.btnText);
                        var message = errorThrown;
                        if ( jqXHR.responseJSON && jqXHR.responseJSON.message ) {
                            message = jqXHR.responseJSON.message;
                        }
                        window.LVX.alertsModel.add({
                            'content': textStatus + ': ' + message + ' - Unable to save',
                            'type':'error'
                        });
                    },
                    success: function(data) {
                        if (typeof options.success === "function") {
                            options.success.call(formVM);
                        }
                        self.showListing();
                    }
                });

            }
        };
    })();
    self.addMatch.canAdd =  ko.computed(function() {
        var wid, lid;
        if (_isEmpty(this.lag_winner()) || _isEmpty(this.lag_loser())) {
            return false;
        }
        wid = this.getplayer(this.lag_winner());
        lid = this.getplayer(this.lag_loser());
        if(wid.id == lid.id) return false;
        return true;
    }, self.addMatch)



    api.get("tourney", [tourney_id], function(json) {
        self.tourney(json);
        _init();
        self.mainBlockTemplateOptions(mainBlockTemplateOptions)
    })

    api.get("matches", [tourney_id], function(json) {
        console.log(json);
//]        self.matches(json);
    });

}

ko.applyBindings(new NewTourneyModel(), document.getElementById('main'));

</script>

{% endblock %}

{% block body %}
    <div data-bind="if: tourney() !== undefined">
        <h6 class="text-center"><span data-bind="text: tourneyDate"></span> <span data-bind="text: tourneyStartTime"></span></h6>
        <h3 class="text-center"><span data-bind="text: tourney().home_team.name"></span> <small>(Home)</small><br/><small>vs.</small><br/><span data-bind="text: tourney().away_team.name"></span> <small>(Away)</small></h3>
    </div>

    <!-- ko template: mainBlockTemplateOptions --><!-- /ko -->


<script type="text/html" id="match_list_template">
    <table class="match_list">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Games</th>
                <th>Score</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
        <!-- ko foreach: {data: matches, as: 'match'} -->
            <!-- ko if: match.id !== undefined -->
                <tr>
                    <td><span data-bind="text: match.id"></span></td>
                </tr>
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko with: addMatch -->
            <tr class="top-row">
                <td><select placeholder="Select Player" data-bind="value: lag_winner, template: { name: 'select_player_template', data: $data}"></select></td>
                <td colspan="3" rowspan="2" style="vertical-align: middle;" data-bind="if: canAdd"><button class="btn btn-default" data-bind="click: add, text: 'Start Match'">Start Match</button></td>
            </tr>
            <tr class="bottom-row">
                <td><select placeholder="Select Player" data-bind="value: lag_loser , template: { name: 'select_player_template', data: $data}"></select></td>
            </tr>
        <!-- /ko -->
        </tbody>
    </table>
</script>

<script type="text/html" id="select_player_template">
    <option>Select a Player</option>
    <optgroup label="Home Team" data-bind="foreach: options.home">
        <option data-bind="text: label, value: value" ></option>
    </optgroup>
    <optgroup label="Away Team" data-bind="foreach: options.away">
        <option data-bind="text: label, value: value" ></option>
    </optgroup>
</script>


{% endblock %}
