{% extends "master.html" %}
{% set body_class = "tourney-context" %}

{% block script %}
    {% autoescape false %}
    <script>
        var gameJSON = {{g.gameJSON}},
            eventsJSON = {{g.eventsJSON}};

            console.log({{g.game.in_progress}});
        function gameModel() {
            var self = this;

            /* create closure so subscription callback can capture the event name */
            function subscriptionCallbackFactory(eventName) {
                return function(newValue) {
                    console.log(eventName);
                    self.updateEvent(eventName,newValue);
                }
            }

            /* Add 'x' to an int value like innings, coaches, etc */
            function stepInt(name,x) {
                var obj = self.events[name], val;
                if (typeof obj === "function" && typeof x === "number") {
                    val = obj()+x;
                    if (val >= 0) {
                        obj(val);
                    }
                }
            }

            /* game entity */
            self.game = ko.mapping.fromJS(gameJSON);
            /* event values for this game */
            self.events = ko.mapping.fromJS(eventsJSON);

            /* subscriptions update server when event values change */
            for (key in self.events) {
                if (ko.isObservable(self.events[key])) {
                    self.events[key].subscribe(subscriptionCallbackFactory(key));
                }
            }

            /* save game when winner is selected */
            self.game["winner"].subscribe(function(value) {
                console.log('update winner');
                self.saveGame();
            });

            /* sync server-side game entity values to view model values */
            self.saveGame = function(callback) {
                if (!self.game.in_progress()) return;

                callback = callback || function() {}
                $.ajax("/tournament/match/game/update", {
                    "contentType": "application/json; charset=UTF-8",
                    "type": "POST",
                    "data": ko.toJSON(self.game), 
                    "complete": function(data) {
                        /* re-map the entire game object. Ensures client viewmodel matches server-side model */
                        ko.mapping.fromJSON(data.responseText, self.game);
                        callback();
                    }
                })
            };

            /* update server when a game event is recorded */
            self.updateEvent = function(eventName, eventValue) {
                var data = {
                        "id": self.game.id(),
                        "name": eventName,
                        "value": eventValue
                    };

                if (!self.game.in_progress()) return;

                $.ajax("/tournament/match/game/event", {
                    "contentType": "application/json; charset=UTF-8",
                    "type": "POST",
                    "data": ko.toJSON(data), 
                    "error": function(data) {
                        console.log(data);
                    }
                })

            };

            /* add one */
            self.increment = function(name) {
                stepInt(name,1);
            }

            /* subtract one */
            self.decrement = function(name) {
                stepInt(name,-1);
            }

            self.endGame = function(winner) {
                if (self.game["winner"] != null) {
                    self.game["in_progress"] = 0;
                    self.saveGame(function() {
                        location.href = "/tournament/match?mid={{ g.match.id }}";
                    });  
                }
            };

        }

        $(function() {
            ko.applyBindings(new gameModel());
        });
    </script>
    {% endautoescape %}
{% endblock %}

{% block body %}

    {% include 'tourney_header.html' %}
    <h2>Game #{{ g.game.ordinal }} <small class="in-progress" data-bind="text: game.in_progress() == 1 ? 'IN PROGRESS' : 'COMPLETE'"></small></h2>
    <h2 class="text-center">Innings: <span data-bind="text: events.innings">0</span></h2>
    <div class="row" style="margin-bottom:24px;">
        <div class="col-xs-2 col-xs-offset-4 text-right">
            <p>
                <button type="button" class="btn btn-default" data-bind="click: decrement.bind($data,'innings'), enable: game.in_progress() === 1 && events.innings() > 0"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
            </p>
        </div>
        <div class="col-xs-2 text-left">
            <p>
                <button type="button" class="btn btn-primary" data-bind="click: increment.bind($data,'innings'), enable: game.in_progress() === 1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default game-data">
                <div class="panel-heading">
                    <h3 class="panel-title">HOME<br/><small>{{ g.home_players[0].firstname}} {{ g.home_players[0].lastname}} ({{ g.home_players[0].handicap }})</small></h3>
                    <div class="win-icon" data-bind="visible: game.winner() == 'home'"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                </div>
                <div class="panel-body">
                    <div class="radio">
                        <label>
                            <input type="radio" name="break" value="home" data-bind="checked: events.breaker, checkedValue: {{g.home_players[0].id}}, enable: game.in_progress() === 1"/>
                            {{ g.home_players[0].firstname}} Broke
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="winner" value="home" data-bind="checked: game.winner, enable: game.in_progress() === 1"/>
                            {{ g.home_players[0].firstname}} Won
                        </label>
                    </div>
                    <h3>Coaches</h3>
                    <p class="text-center clearfix">
                        <button type="button" class="btn btn-default btn-sm pull-left" data-bind="click: decrement.bind($data,'home_coaches'), enable: game.in_progress() === 1 && events.home_coaches() > 0"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-bind="click: increment.bind($data,'home_coaches'), enable: game.in_progress() === 1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                       <span class="h3" data-bind="text: events.home_coaches">0</h3>
                    </p>
                    <h3>Safes</h3>
                    <p class="text-center clearfix">
                        <button type="button" class="btn btn-default btn-sm pull-left" data-bind="click: decrement.bind($data,'home_safes'), enable: game.in_progress() === 1 && events.home_safes() > 0"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-bind="click: increment.bind($data,'home_safes'), enable: game.in_progress() === 1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                       <span class="h3" data-bind="text: events.home_safes">0</h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6" data-bind="">
            <div class="panel panel-default game-data">
                <div class="panel-heading">
                    <h3 class="panel-title">AWAY<br/><small>{{ g.away_players[0].firstname}} {{ g.away_players[0].lastname}} ({{ g.away_players[0].handicap }})</small></h3>
                    <div class="win-icon" data-bind="visible: game.winner() == 'away'"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                </div>
                <div class="panel-body">
                    <div class="radio">
                        <label>
                            <input type="radio" name="break" value="away" data-bind="checked: events.breaker, checkedValue: {{g.away_players[0].id}}, enable: game.in_progress() === 1"/>
                            {{ g.away_players[0].firstname}} Broke 
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="winner" value="away" data-bind="checked: game.winner, enable: game.in_progress() === 1"/>
                            {{ g.away_players[0].firstname}} Won
                        </label>
                    </div>
                    <h3>Coaches</h3>
                    <p class="text-center clearfix">
                        <button type="button" class="btn btn-default btn-sm pull-left" data-bind="click: decrement.bind($data,'away_coaches'), enable: game.in_progress() === 1 && events.away_coaches() > 0"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-bind="click: increment.bind($data,'away_coaches'), enable: game.in_progress() === 1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                       <span class="h3" data-bind="text: events.away_coaches">0</h3>
                    </p>
                    <h3>Safes</h3>
                    <p class="text-center clearfix">
                        <button type="button" class="btn btn-default btn-sm pull-left" data-bind="click: decrement.bind($data,'away_safes'), enable: game.in_progress() === 1 && events.away_safes() > 0"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-bind="click: increment.bind($data,'away_safes'), enable: game.in_progress() === 1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                       <span class="h3" data-bind="text: events.away_safes">0</h3>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ url_for('game', gid=g.game.id) }}" method="post" role="form">
        <div class="row" style="margin-bottom:50px;">
            <div class="col-xs-6 text-center">
                <a class="btn-new-game" href="/tournament/match?mid={{ g.match.id }}">Return to Match</a>
            </div>
            <div class="col-xs-6 text-center">
                 {% if g.game.in_progress %}
                <button type="submit" class="btn-end-match" data-bind="disable:game.winner() == null" name="end_game" value="end_game">End Game</button>
                {% else %}
                <button type="submit" class="btn-end-match" name="resume_game" value="resume_game">Resume Game</button>
                {% endif %}
           </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center col-xs-offset-3">
                <button type="submit" class="btn-delete-game" name="delete_game" value="delete_game">Warning! Delete Game</button>
            </div>
        </div>
    </form>

{% endblock %}

