{% extends "master.html" %}
{% set body_class = "root-context" %}
{% block body %}

    <h1 class="text-center">Mark it Eight, Dude</h1>  
    <p class="text-center" style="margin-bottom:40px;">Welcome to <em>PoolScore:</em><br> A place to save your stats because the league won't do it for you.<p>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 ">
            <p class="text-center">
                <a href="/tournament" class="btn btn-primary btn-block btn-lg">Start New Tournament</a>
            </p>
            {% if tourneys %}
            <p class="text-center">
                <a href="/tournaments" class="btn btn-primary btn-block btn-lg">Show all Tournaments <span class="badge">{{ tourneys }}</span></a>
            </p>
            {% endif %}
            <p class="text-center">
                <a href="/account" class="btn btn-primary btn-block btn-lg">Manage Your Teams</a>
            </p>
        </div>
    </div>

{% endblock %}
