<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>poolScore</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="{{ body_class }}">
        <header>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand logo" href="/">PoolScore</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text">Welcome, {{ session.user_name }}</p>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/team" title="Teams">Teams</a></li>
                                <li><a href="/team/player" title="Players">Players</a></li>
                                <li><a href="/user" title="Account">Account</a></li>
                            </ul>
                        </li>
                        {% if not session.logged_in %}
                        <li><a href="{{ url_for('auth.login') }}" title="Log in"><span class="glyphicon glyphicon-off"></span></a></li>
                        {% else %}
                        <li><a href="{{ url_for('auth.logout') }}" title="Log out"><span class="glyphicon glyphicon-off"></span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
    <div class="container main">

        {% for message in get_flashed_messages() %}
        <div class="flash-message"> {{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}

    </div>

    <footer>
        &copy; Nick Herman
    </footer>

    <script type="text/html" id="alert_template">
        <div data-bind="css: css" role="alert">
            <button type="button" class="close" data-bind="click: cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="text-center" data-bind="html: content">sdsdf</div>
        </div>
    </script>
    <div id="alerts" data-bind="template: alertTemplateOptions"></div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <!-- TODO: Remove? -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        {% block script %}{% endblock %}

</body>
</html>