<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>poolScore</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/libs/require-2.3.3.js') }}"></script>

    <script>
        requirejs(["{{ url_for('static', filename='js/init.js') }}"], function (init) {
            require(['bootstrap']);            
            {% block require_main %}{% endblock %}
        });
    </script>

</head>
<body class="{{ body_class }}">
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="nav-header">
                    <a class="navbar-brand logo" href="/">PoolScore</a>
                </div>

                {% if session.logged_in %}
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/team" title="Teams">Teams</a></li>
                        <li><a href="/team/player" title="Players">Players</a></li>
                        <li><a href="/user" title="Account">Account</a></li>
                        {% if is_admin %}
                        <li><a href="/admin" title="Admin">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.logout') }}" title="Log out">Logout</a></li>
                    </ul>
                </div>
                {% endif %}

                <p class="navbar-text text-center ps-header-content" data-bind="text:ps-header-content">{{header_content|safe}}</p>

            </div>
        </nav>
    </header>
    <div id="main" class="container main">

        {% for message in get_flashed_messages() %}
        <div class="flash-message"> {{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}

    </div>

    {# knockout will ignore this block if $data.alerts isn't defined #}
    <!-- ko with: $data.alerts -->
    <div class="ps-alerts" data-bind="template: {
        name: 'alert-template',
        foreach: list(),
        as: 'alert',
        afterRender: function(element) {$(element).slideDown(500);},
        beforeRemove: function(element) {$(element).slideUp(500);}
    }">
    </div>
    <!-- /ko -->
    <script type="text/html" id="alert-template">
        <div role="alert" data-bind="css: alert.css">
            <button type="button" class="close" aria-label="Close" data-bind="click: alert.dismiss">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 data-bind="visible: alert.header != '', html: alert.header"></h4>
            <div data-bind="visible: alert.body != '', html: alert.body"></div>
        </div>
    </script>

        {% block script %}{% endblock %}

</body>
</html>