{% extends "master.html" %}
{% set body_class = "tourney-context" %}
{% block body %}

    <h4 class="clearfix">
        Tournament in Progress<br>
        <small class="pull-right">2014-11-10</small>
        <small class="pull-left">League Name</small>
    </h4>

    <div class="row">
        <div class="col-xs-6 text-center">
            <h2>Home<br>{{ g.tourney.home_matches }}</h2>
        </div>
        <div class="col-xs-6 text-center">
            <h2>Away<br>{{ g.tourney.away_matches }}</h2>
        </div>
    </div>

    <div class="row" style="min-height:80px;">

    </div>

    <form action="{{ url_for('tournament') }}" method="post" role="form">
        <div class="row">
            <div class="col-xs-6 text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block" name="new_match" value="start_match">Start New Match</button>
            </div>
            <div class="col-xs-6 text-center">
                <button type="submit" class="btn btn-success btn-lg btn-block" name="end_tourney" value="end_tourney">End Tournament</button>
            </div>
        </div>
    </form>

{% endblock %}

