{% extends "master.html" %}
{% set body_class = "tourney-context" %}
{% block body %}

    {% include 'tourney_header.html' %}

    <div class="opponents">
        <div class="row">
            <div class="col-xs-5">
                <h4>HOME<br>
                <small>{{ g.home_team.name}}</small>
                </h4>
            </div>
            <div class="col-xs-1">
                <h4>{{ g.tourney.home_matches }}</h4>
            </div>
            <div class="col-xs-5">
                <h4>AWAY<br>
                <small>{{ g.away_team.name}}</small>
                </h4>
            </div>
            <div class="col-xs-1">
                <h4>{{ g.tourney.away_matches }}</h4>
            </div>
        </div>
    </div>

    <div class="list-group opponents">
    {% if g.matches %}
        {% for match in g.matches %}
        <a href="{{ url_for('match',mid=match.id)}}" class="list-group-item ">
            <div class="clearfix">
                <h4 class="pull-left">Match {{ match.ordinal }}</h4>
                <h4 class="pull-right text-right">{{ match.home_games }} &ndash; {{ match.away_games }}</h4>
            </div>
            <h4><small>{{ match.home_players[0].firstname }} {{ match.home_players[0].lastname }} ({{ match.home_players[0].handicap }}) vs. {{ match.away_players[0].firstname }} {{ match.away_players[0].lastname }} ({{ match.away_players[0].handicap }}){% if match.in_progress > 0 %}<br>IN PROGRESS{% endif %}</small></h4>
        </a>
        {% endfor %}
    {% endif %}
    </div>

    <form action="{{ url_for('tournament', tid=g.tourney.id) }}" method="post" role="form">
        <div class="row">
            <div class="col-xs-6 text-center">
                <button type="submit" class="btn-new-match" name="new_match" value="start_match">Start New Match</button>
            </div>
            <div class="col-xs-6 text-center">
                {% if g.tourney.in_progress %}
                <button type="submit" class="btn-end-tourney" name="end_tourney" value="end_tourney">End Tournament</button>
                {% else %}
                <button type="submit" class="btn-end-tourney" name="resume_tourney" value="resume_tourney">Resume Tournament</button>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}

