{% extends "admin/tourney/tourney_template.html" %}
{% set user_action = "edit" %}

{% block tourney_header %}
    <h4>Edit Tourney ({{ tourney.id }})</h4>
    <h5>{{ tourney.home_team.name }} vs. {{ tourney.away_team.name }}</h5>

    <p>
    {% if has_matches %}
        <a href="{{ url_for('.matches', tourney_id = tourney.id) }}" class="btn btn-default">View Matches</a>
    {% endif %}
        <a href="{{ url_for('.match_add', tourney_id = tourney.id) }}" class="btn btn-default">Add Match</a>
    </p>


{% endblock %}
