{% extends "admin/admin_template.html" %}
{% block admin_body %}

    <p>
        <a href="{{ url_for('.tourney_add') }}" class="btn btn-default">Add Tourney</a>
    </p>
    <div class="checkbox">
        <label>
            <input type="checkbox" {% if not hide_deleted %}checked{% endif %} onclick="showDeleted(this.checked);"> show deleted
        </label>
    </div>

    {% if tourneys %}
    <p>
        <div class="list-group">
        {% for tourney in tourneys %}
            <a class="list-group-item{% if tourney.active == 1 %} active{% endif %}" href="{{ url_for('admin.tourney', tourney_id = tourney.id) }}">{{ tourney.date|datetime }} {{ tourney.home_team.name }} vs. {{ tourney.away_team.name }} {% if tourney.deleted %}<span style="float:right;">(deleted)</span>{% endif %}</a>
        {% endfor %}
        </div>
    </p>
    {% else %}
    <p class="text-center">
        No Tourneys Found
    </p>
    {% endif %}

{% endblock %}